---
title: Welcome
layout: home
image_url: https://images.pexels.com/photos/733856/pexels-photo-733856.jpeg
---
{% include custom-header.html %}

<img src="{{ page.image_url }}" alt="Woman writing on a notebook beside teacup and tablet computer"><br>
<br>
<p>You're in the right place if you:<br> 
    <ul>
        <li>Need help with a writing assignment.</li>
        <li>Forgot how to use APA to format references.</li>
        <li>Don't remember what a topic sentence is.</li>
        <li>Never learned the difference between <i>who</i> and <i>whom.</i></i></li>
    </ul>
</p>

<h2>Recent Writing Resources</h2>
{% for resource in site.resources %}
    <br>
    <hr>
    <h3>{{ resource.title }}</h3>
    <p><img class="listing" src="{{ resource.image }}" alt="{{ resource.alt }}"/></p>
    <p class="listing">{{ resource.excerpt }}</p>
    <p>Category: {{ resource.category }}</p>
{% endfor %}
