<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <style>
    .header {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        background-color: #ebf9f8;
    }

    .header img.logo {
        width: 100px;
        height: auto;
        margin-right: 20px;
    }

    .header .title {
        font-size: 24px;
        font-weight: bold;
        color: #000000;
    }
  </style>
</head>
<body>
  <header class="header">
    <img src="/lis786-project/assets/images/FSW Writing Center.png" alt="Logo" class="logo">
    <div class="title">{{ site.title }}</div>
  </header>
</body>
</html>