---
---

@import "{{ site.theme }}";

body {
    background-color: #ebf9f8;
    font-family: 'Trebuchet MS', sans-serif;
}

h1 {
    font-family: Garamond, serif;
}

h2 {
    font-weight: bold;
}

img.listing {
    display: flex;
    float: left;
    width: 200px;
    padding: 5px;
}

p.listing {
    display: flex;
    float: right;
}