---
---

@import "{{ site.theme }}";

body {
    background-color: #ebf9f8;
    font-family: 'Trebuchet MS', sans-serif;
}

h1 {
    font-family: Garamond, serif;
}

h2 {
    font-weight: bold;
}

img.listing {
    display: flex;
    float: left;
    width: 200px;
    padding-right: 5px;
}

p.listing {
    display: flex;
    float: right;
}

hr {
    display: float;
    clear: both;
}

.resource-card {
    text-decoration: none;
    color: inherit;
    display: block;
    border: 1px solid #dddddd;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    transition: background 0.3s, box-shadow 0.3s;
  }
  .resource-card:hover {
    background: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  }
  